.max-w-97-400 {
    max-width: 400px;
}

/* Condição para telas menores que 415px */
@media (max-width: 415px) {
    .max-w-97-400 {
        max-width: 97%;
    }
}

@media (max-width: 390px) {
  .min-width-to-hide {
    display: none !important;
  }
}


