.max-w-97-500 {
    max-width: 500px;
}

/* Condição para telas menores que 515px */
@media (max-width: 515px) {
    .max-w-97-500 {
        max-width: 97%;
    }
}

@media (max-width: 390px) {
  .min-width-to-hide {
    display: none !important;
  }
}


